@import "../styles/breakpoints";

.page.profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;

  align-items: stretch;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 2rem 8rem 2rem;
    background: bottom center no-repeat;
    background-size: 100% 4rem;
    background-color: #fafafa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 100' preserveAspectRatio='none'%3E%3Cpolygon fill='white' points='0,100 1000,0 1000,100'/%3E%3C/svg%3E");

    .bio {
      display: flex;
      align-items: center;
      max-width: 54rem;

      .description {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;

        .name {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          h1 {
            font-size: 1.5em;
            margin: 0;
            margin-right: 1rem;
          }
        }

        p {
          font-size: 1rem;
          margin-top: 0;
        }

        a {
          font-family: 'Roboto Mono', monospace;

          &:visited {
            color: inherit;
          }
        }
      }

      img {
        border-radius: 100px;
        width: 175px;
        height: 175px;
        object-fit: cover;
      }
    }

    @media(max-width: $breakpoint-small) {
      padding: 4rem 2rem 5rem 2rem;
      background-size: 100% 2rem;

      .bio {
        flex-direction: column;

        img {
          width: 100px;
          height: 100px;
          margin-bottom: 2rem;
        }

        .description {
          margin-left: 0;
          text-align: center;
          align-items: center;
        }
      }
    }
  }

  .statuses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 2rem;

    @media(max-width: $breakpoint-small) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  footer {
    text-align: center;
    margin-top: auto;
    font-size: 3rem;
    padding: 2rem;

    a {
      font-family: 'Roboto Mono', monospace;
      text-decoration: none;
      color: #eaeaea;
    }
  }
}