body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
}

button {
  background-color: #5BB25B;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
  border-radius: 10rem;
  cursor: pointer;
  outline: none;
}